body {
    background-color: black;
}
.contact {
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(245, 224, 106);
    font-family: 'Gruppo', cursive;
}
footer {
    text-align: center;
    font-family: 'Gruppo', cursive;
}
.navbar-brand {
    font-family: 'Londrina Outline', cursive;
    font-size: 2.5rem;
}
aside {
    font-family: 'Gruppo', cursive;
    font-size: 2rem;
    box-shadow: inset 5px 0 5px -5px gold;
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
.skills {
    box-shadow: 10px 10px 5px 12px gold;
    box-sizing: border-box;
}
.display-4 {
font-family: 'Gruppo', cursive;
color: white;
}
.card-title {
    font-family: 'Gruppo', cursive;
    color: white;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    font-family: 'Gruppo', cursive;
    color: white;

}



.jumbotron {
background:transparent;
background-image: url(../images/ebba-thoresson-O9vsfZq8UWw-unsplash.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.jumbotron2 {
background-color: rgb(27, 25, 25);
color: white;
font-family: 'Gruppo', cursive;


}

.card {
    background-color: black;
}

.card-body {
    border: 1px red solid;
}
#navbarSupportedContent {
    color: white;
}

.mypic {
    width:300px;
    border-radius: 50%;
display: block;
  margin-left: 75%;
}

.navbar-brand {
    font-family: 'Bebas Neue', cursive;
}

.display-4 {
    /* display: flex;
  margin-left: 54%; */
  color: red;
}
.display-5 {
    border-bottom: red 3px solid;
    /* padding-bottom: 30px; */

}

.lead {
    /* display: flex;
    margin-left: 54%; */
    color: white;
}

.firstRows {
    padding-top: 150px;
    padding-bottom: 150px;
}

.secondRows {
    padding-bottom: 200px;
    background-color: black;
}

.boutMe {
    list-style-type:none;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.bg-light {
    background-color: rgb(245, 224, 106) !important;
}
.btn:hover {
    box-shadow: 4px 4px 5px 6px gold;
}
.nav-link:hover, #contactMe:hover {
    font-size: 2.5rem;
}
/* .container {
   display: flex;
   
   */
@media screen and (max-width:375px){
    footer {
        width: 155%;
        
    }
    .contact {
        width: 155%;
    }
    .skills {
        width:147%;
    }
    header {
        width:155%;
    }
    figure {
        width:155%;
    }
    
}
@media screen and (max-width:320px){
    footer {
        width: 180%;
    background-color: pink;
        
    }
    .contact {
        width: 180%;
    }
    .skills {
        width:177%;
    }
    header {
        width:180%;
    }
    figure {
        width:180%;
    }
    
}
@media screen and (max-width:768px){
    footer {
        width: 135%;
    
        
    }
    .contact {
        width: 135%;
    }
    .skills {
        width:132%;
    }
    header {
        width:135%;
    }
    figure {
        width:135%;
    }
    
}